body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
}

loading-spinner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

time-chart {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95vh;
  width: 95vw;
  margin: auto;
  z-index: 0;
}

chart-controls {
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 2
}

.toastify {
  border-radius: 8px;

  &.toast-info {
    background: #3F51B5;
  }

  &.toast-error {
    background: #B71C1C;
  }
}
